.itemModalWindow {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    img {
        width: 600px;
        height: 600px;
        display: block;
        margin: 0 auto;
    }

    .info {
        margin-left: 5px;
        width: 780px;
        height: 550px;
        display: flex;
        position: relative;
        align-items: center;
        overflow: hidden;
    }
}