.details {
    visibility: hidden;
    margin-left: 40px;
    transition: 0.45s;
    transform: translateX(-800px);
    position: absolute;


    .name {
        font-size: 28px;
        font-weight: 500;
    }

    .brand {
        font-size: 20px;
        font-weight: 300;
        margin-top: 5px;
    }

    .price {
        font-size: 23px;
        font-weight: 400;
        margin-top: 10px;
    }

    .description {
        font-size: 18px;
        font-weight: 350;
        margin-top: 15px;
        width: 86%;
    }

    .buyButton {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 500;
        padding: 6px 20px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2px;
        background-color: transparent;
        cursor: pointer;
    }

    .charcsButton {
        margin-left: 10px;

        font-size: 18px;
        font-weight: 500;
        padding: 6px 20px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2px;
        background-color: transparent;
        cursor: pointer;
    }
}

.details.active {
    visibility: visible;
    transform: translateX(0px);
}