.catalogList {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 70px;
    row-gap: 20px;
    justify-content: center;

    .item {
        .card {
            cursor: pointer;

            .thumbnail {
                width: 300px;
                height: 300px;
            }

            .itemName {
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }

            .itemPrice {
                margin-top: 8px;
                font-size: 18px;
                text-align: center;
            }
        }

        .itemButton {
            display: block;
            margin: 0 auto;
            margin-top: 20px;

            width: 105px;
            font-size: 18px;
            font-weight: 500;
            padding: 6px 20px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 2px;
            background-color: transparent;
        }
    }
}