.menuBar {
    background-color: #1A1B1D;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .logo {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 10px 0;
    }

    .menu {
        padding-left: 30px;
        padding-top: 50px;

        ul {
            li {
                font-size: 23px;
                font-weight: bold;
                color: #7c7e80;
                padding-bottom: 25px;
            }
        }
    }

    .barFooter {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: auto;
        p {
            font-size: 20px;
            font-weight: bold;
            color: #7c7e80;
            text-align: center;
            border: 0.1px solid #7c7e80;
            padding: 15px 0;
        }

    }
}